---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
      - 'fix-*'
      - 'feature-*'

jobs:
  cloudmersive:
    name: Cloudmersive
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          provider: cloudmersive
          api_key: ${{ secrets.CLOUDMERSIVE_API_KEY }}
          threshold: 0.32
  deepai:
    name: Deepai
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          provider: deepai
          api_key: ${{ secrets.DEEPAI_API_KEY }}
          threshold: 0.39
  picpurify:
    name: PicPurify
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          provider: picpurify
          api_key: ${{ secrets.PICPURIFY_API_KEY }}
          threshold: 0.95
  sightengine:
    name: SightEngine
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          provider: sightengine
          api_key: ${{ secrets.SIGHTENGINE_API_USER }},${{ secrets.SIGHTENGINE_API_SECRET }}
          threshold: 0.73
